body {
  background-image: url('https://johnkarlen.github.io/anwarkarlen.io/files/Husna+Johnmarried!-61.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.60)   /* 35% opaque white */;
  padding: 0.25em;
}
